<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>


<body ng-app="restApp">


<!--[if lt IE 7]>
<p class="browsehappy">
  You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.
</p>
<![endif]-->


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Ask Backend</a>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <input type="text"
               class="form-control"
               placeholder="Search..."
               ng-model="q">
      </form>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">

    <side-bar paths="paths"
              setPath="setPath"
              Categories="Categories"></side-bar>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <article ng-repeat="path in active.paths track by $index">
        <h3 class="sub-header">
          <method name="path.method._name"></method>
          {{path._path}}
        </h3>
        <dl>
          <request data="path.method.request"></request>
          <response data="path.method.response"></response>
        </dl>
        <br/>
      </article>

    </div>

  </div>
</div>


<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-xml/angular-xml.js"></script>
<script src="bower_components/x2js/xml2json.min.js"></script>
<!-- endbower -->
<!-- endbuild -->


<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<!-- endbuild -->

</body>
</html>
