<side-bar paths="paths"
          setPath="setPath"
          Categories="Categories"></side-bar>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

  <article ng-repeat="path in active.paths track by $index | filter:query">
    <h3 class="sub-header">
      <method name="path.method._name"></method>
      {{path._path}}
    </h3>
    <dl>
      <request data="path.method.request"></request>
      <response data="path.method.response"></response>
    </dl>
    <br/>
  </article>

</div>